beautifulsoup4==4.10.0
brotli==1.1.0
certifi==2025.10.5
charset-normalizer==2.0.12
click==8.3.0
Flask==3.0.0
Flask-Limiter==3.8.0
gunicorn==21.2.0
idna==3.11
itsdangerous==2.1.2
Jinja2==3.1.2
limits==5.8.0
MarkupSafe==3.0.3
packaging==25.0
Pillow==11.1.0
python-dotenv==0.19.2
python-json-logger==3.3.0
requests==2.32.3
schedule==1.1.0
soupsieve==2.8
urllib3==2.3.0
Werkzeug==3.0.0
