astroid==3.0.1
attrs==25.4.0
beautifulsoup4==4.10.0
certifi==2025.10.5
charset-normalizer==2.0.12
click==8.3.0
Flask==3.0.0
gunicorn==21.2.0
idna==3.11
iniconfig==2.3.0
isort==5.13.2
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.12.0
MarkupSafe==3.0.3
mccabe==0.6.1
packaging==25.0
platformdirs==4.5.0
pluggy==1.6.0
py==1.11.0
pylint==3.0.3
pytest==8.0.0
pytest-mock==3.14.0
python-dotenv==0.19.2
requests==2.26.0
requests-mock==1.11.0
schedule==1.1.0
six==1.17.0
soupsieve==2.8
toml==0.10.2
urllib3==1.26.20
Werkzeug==3.0.0
wrapt==1.16.0
